.mu_Button {
  padding: 12px;
  background-color: #fff;
  border-radius: 5px;
  border: 1rpx solid #e3e3e3;
}

.primary {
  background: #409eff;
}
.success {
  background: #67c23a;
}
.error {
  background: #f56c6c;
}
