.mu-button {
  padding: 12px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-color: #fff;
}

.primary {
  background: #409eff;
}

.success {
  background: #67c23a;
}

.error {
  background: #f56c6c;
}
